.p1full{
  display: flex;
  width:100%;
}
.p4full{
  display: flex;
  width:100%;
}

.p2full{
  display: flex;
  width:85%;
  margin-left: 7.5%;
}
.p1-3{
  display:flex;
  width: 100%;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.p1-1{
  display:flex;
  width: 100%;
  margin-top: 40%;
  margin-bottom: 12.5%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.p1-2{
  display:flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
}
.p2-2{
  display:flex;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
}
.p1-4{
  display:flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 0%;
}
.p1-D{
  display:flex;
  width: 100%;
  margin-top: 30%;
  margin-left: 10%;
  margin-bottom: 12.5%;
}

.p1-V{
  display:flex;
  height: 40%;
  margin-top: 20%;
  margin-left: 0%;
  margin-bottom: 12.5%;

}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .p1full{
    margin-top: 50px;
    display: flex;
    width:100%;
  }
  .p4full{
    margin-top: 10px;
    display: flex;
    width:100%;
  }
  .p2full{
    margin-top: 50px;
    width:100%;
    margin-left:0%;
  }
  .p1-1{
    display:flex;
    width: 100%;
    margin-top: 40%;
    margin-bottom: 12.5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .p1-3{
    display: block;
    width: 100%;
  }
  .p1-3{
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .p1-2{
    display:block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .p1-D{
    display:flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .p1-V{
    display:flex;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 600px) {
  .p1full{
    margin-top: 50px;
    display: flex;
    width:100%;
  }
  .p4full{
    margin-top: 0px;
    display: flex;
    width:100%;
  }
  .p2full{
    margin-top: 50px;
    width:100%;
    margin-left: 0%;
  }
  .p1-1{
    display:flex;
    width: 100%;
    margin-top: 40%;
    margin-bottom: 12.5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .p1-3{
    display: block;
    width: 100%;
  }
  .p1-3{
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .p1-2{
    display:block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0;
  }
  .p1-D{
    display:flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .p1-V{
    display:flex;
    height: 100%;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 10%;
    padding: 0%;
  }
}
