#start{
  text-align: center;
  letter-spacing:22px;
  font-size: 60px;
  margin-top:15%;
}
#bio{
  text-align: justify;
  font-size:18px;
  margin-right:3%;
}

#des-top{
  text-align: center;
  letter-spacing:22px;
  font-size: 60px;
}
#sub_head{
  text-align: left;
  letter-spacing:16px;
  font-size: 42px;
  margin-top:0%;
  padding-left: 1%;
}
#top-img{
  width: 100%;
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    #start, #des-top {
      font-size: 28px;
      letter-spacing:5px;
    }
    #bio{
      font-size: 14px;
    }
    #sub_head{
      font-size: 16px;
      letter-spacing:5px;
    }
  }
@media screen and (max-width: 600px) {
    #start, #des-top {
      font-size: 28px;
      letter-spacing: 5px;
    }
    #bio{
      font-size: 14px;
    }
    #sub_head{
      font-size: 16px;
      letter-spacing:5px;
    }

  }
