.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
}
.photographer{
  font-size: 12px;
  color: gray;
  text-align: center;
}

#start{
  text-align: center;
  letter-spacing:22px;
  font-size: 60px;
  margin-top:25%;
}
#bio{
  text-align: justify;
  font-size:18px;
  margin-right:3%;
  margin-top: 25%;

}

#des-top{
  text-align: left;
  letter-spacing:normal;
  font-size: 18px;
  margin-top:6px;
  margin-left: 20px;
}
#sub_head{
  text-align: center;
  letter-spacing:20px;
  font-weight: lighter;
  font-size: 42px;
  margin-top:5%;
  margin-bottom:5%;
  padding-left: 1%;
}
#top-img{
  width: 100%;
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25%;
  width: 50%;
}

.container>div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#p1img:hover {
   background-color: red;
   width: 90px;
   height: 90px;
}
.p1full{
  display: flex;
  width:100%;
}
.p1-3{
  display:flex;
  width: 100%;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.p1-1{
  display:flex;
  width: 100%;
  margin-top: 40%;
  margin-bottom: 12.5%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.p1-2{
  display:flex;
  width: 100%;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.p1-4{
  display:flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 0%;
}
.p1-D{
  display:flex;
  width: 100%;
  margin-top: 30%;
  margin-left: 10%;
  margin-bottom: 12.5%;
}

.p1-V{
  display:flex;
  height: 40%;
  margin-top: 20%;
  margin-left: 0%;
  margin-bottom: 12.5%;

}

.description1{
  text-align: justify;
  font-weight: 300;
  font-style:normal;
  line-height: 1.5em;
  font-size:18px;
  margin-right:3%;
  margin-top:15%;
  margin-bottom: 12.5%;
}
.description2{
  text-align: justify;
  font-weight: 300;
  font-style:normal;
  line-height: 1.5em;
  font-size:18px;
  margin-right:25%;
  margin-left:25%;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.description3{
  text-align: justify;
  font-weight: 300;
  font-style:normal;
  line-height: 1.5em;
  font-size:18px;
  margin-right:25%;
  margin-left:25%;
  margin-top: 25%;
  margin-bottom: 12.5%;
}
.description4{
  text-align: justify;
  font-weight: 300;
  font-style:normal;
  line-height: 1.5em;
  font-size:18px;
  margin-right:10%;
  margin-left:10%;
  margin-top: 25%;
  margin-bottom: 25%;
}
.icons{
  text-align: center;
   position: absolute; bottom: 10px; left: 0;
   width: 100%;
}
#copyright{
  color: gray;
  text-align: center;
  font-size: 12px;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .nav{
      display: none;
    }
    #start, #des-top {
      font-size: 20px;
      letter-spacing:5px;
      text-align: center;
    }
    #bio{
      font-size: 14px;
    }
    #sub_head{
      font-size: 16px;
      letter-spacing:5px;
    }
    .p1-3{
      display: block;
      width: 100%;
    }


    .mobile-container {
      max-width: 480px;
      margin: auto;
      background-color: #555;
      height: 500px;
      color: white;
      border-radius: 10px;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
    }

    .topnav #myLinks {
      display: none;
    }

    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }

    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .active {
      background-color: #4CAF50;
      color: white;
    }
    .p1-3{
      display: flex;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    .p1-2{
      display:flex;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }

    .p1-D{
      display:flex;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .p1-V{
      display:flex;
      width: 100%;
      margin-top: 0%;
      margin-left: 0%;
      margin-bottom: 0%;
      padding: 0%;
    }

    .description1{
      text-align: justify;
      font-size:16px;
      margin-right:10%;
      margin-left:10%;
      margin-top:12.5%;
      margin-bottom: 12.5%;
    }
    .description2{
      text-align: justify;
      font-size:16px;
      margin-right:10%;
      margin-left:10%;
      margin-top: 12.5%;
      margin-bottom: 12.5%;

    }
    .description3{
      text-align: justify;
      font-size:16px;
      margin-right:10%;
      margin-left:10%;
      margin-top: 12.5%;
      margin-bottom: 12.5%;
    }

  }


@media screen and (max-width: 600px) {
    .nav{
      display: none;
    }
    #start, #des-top {
      font-size: 20px;
      letter-spacing:1px;
      text-align: left;
      display: block;
    }
    #bio{
      font-size: 14px;
    }
    #sub_head{
      font-size: 16px;
      letter-spacing:5px;
    }
    .container{
      display:flex;
      flex-wrap: wrap;
      margin-top: 10%;
      width: 100%;
    }

    .container>div {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .p1-3{
        display: block;
        width: 100%;
      }
      .p1-3{
        display: flex;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
      .p1-2{
        display:flex;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 0;
      }
      .p1-D{
        display:flex;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }
      .p1-V{
        display:flex;
        height: 100%;
        margin-top: 10%;
        margin-left: 0%;
        margin-bottom: 10%;
        padding: 0%;
      }

      .description1{
        text-align: justify;
        font-size:16px;
        margin-right:10%;
        margin-left:10%;
        margin-top:12.5%;
        margin-bottom: 12.5%;
      }
      .description2{
        text-align: justify;
        font-size:16px;
        margin-right:10%;
        margin-left:10%;
        margin-top: 12.5%;
        margin-bottom: 12.5%;
      }
      .description3{
        text-align: justify;
        font-size:16px;
        margin-right:10%;
        margin-left:10%;
        margin-top: 12.5%;
        margin-bottom: 12.5%;
      }




      .topnav {
        overflow: hidden;
        background-color: #FFFFFF;
        position: relative;
      }

      .topnav #myLinks {
        display: none;
      }

      .topnav a {
        color: black;
        padding: 14px 16px;
        font-size: 17px;
        display: block;
      }

      .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .active {
        background-color: #FFFFFF;
        color: white;
      }



  }
